.container
  %h1.page-header.text-center
    Our Beginnings
  .row
    .col-md-12
    %p “A small community of afflicted individuals took action once they realized their ‘challenged children’ could benefit from the creation of a Foundation. It all started after several parents of children with disabilities like Cerebral Palsy, Spina Bifida and Club Foot attended a disability education and awareness forum held within the walls of the physiotherapy department at the Cape Coast Teaching Hospital in Cape Coast, Ghana. The mothers and fathers in attendance recognized that they were not alone in a fight that had left them emotionally drained and out of resources. Each parent at the educational forum that day banded together in order to rid Ghana of unjust scrutiny towards those diagnosed with a disability. The Challenged Children Foundation Intl. has chosen to thwart the Ghanaian traditional beliefs that fail to recognize the true origin of disability; traditional beliefs that assert that an individual born with a disability is ‘inhuman’ or suffering from a ‘devil’s curse.’ It is through this Foundation, based in Cape Coast, Ghana, that an inclusive and supportive community can be taught to push traditional values aside and allow people diagnosed with disabilities to live fulfilling and independent lives.”
