.container
  %h1.page-header.text-center
    Our Children
  .row
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Agnes.jpg", class: "img-responsive kid-pic")
      %strong Agnes
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Angel.jpg", class: "img-responsive kid-pic")
      %strong Angel
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Cornelius.jpg", class: "img-responsive kid-pic")
      %strong Cornelius
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Ebinizer.jpg", class: "img-responsive kid-pic")
      %strong Ebinizer
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/George.jpg", class: "img-responsive kid-pic")
      %strong George
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Gideon.jpg", class: "img-responsive kid-pic")
      %strong Gideon
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Godgift.jpg", class: "img-responsive kid-pic")
      %strong Godgift
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Grace.jpg", class: "img-responsive kid-pic")
      %strong Grace
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Hamna.jpg", class: "img-responsive kid-pic")
      %strong Hamna
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Jennifer.jpg", class: "img-responsive kid-pic")
      %strong Jennifer
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Josephine.jpg", class: "img-responsive kid-pic")
      %strong Josephine
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Joyce.jpg", class: "img-responsive kid-pic")
      %strong Joyce
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Kweku_baby.jpg", class: "img-responsive kid-pic")
      %strong Kweku
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Kweku.jpg", class: "img-responsive kid-pic")
      %strong Kweku
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Mardia.jpg", class: "img-responsive kid-pic")
      %strong Mardia
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Noreen.jpg", class: "img-responsive kid-pic")
      %strong Noreen
      %br
      %br
    .col-md-4
      =image_tag("https://s3.amazonaws.com/ccfoundationintl/kids/Stella.jpg", class: "img-responsive kid-pic")
      %strong Stella
      %br
      %br
  %p Note: these pictures of our children is not a complete list of the children we care for at Challenged Children Foundation Intl... Check back soon for pictures of Alena, Daniela, and Joseph.
  %h3 GET TO KNOW OUR CHILDREN
  %p
    Get to know our children better by visiting our website
    %a{:href => "http://www.challengedchildren.org"} www.challengedchildren.org!
    You can read each child's story complete with their hobbies, disabilities, daily challenges, needs, and goals for the future.

