.container
  %h1.page-header.text-center
    Our Children
  .row
    .col-md-4
      =image_tag("/kids/Agnes.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Angel.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Cornelius.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Ebinizer.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/George.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Gideon.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Godgift.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Grace.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Hamna.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Jennifer.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Josephine.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Joyce.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Kweku_baby.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Kweku.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Mardia.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Noreen.jpg", class: "img-responsive kid-pic")
    .col-md-4
      =image_tag("/kids/Stella.jpg", class: "img-responsive kid-pic")
  %p Note: these pictures of our children is not a complete list of the children we care for at Challenged Children Foundation Intl... Check back soon for pictures of Alena, Daniela, and Joseph.
  %h3 GET TO KNOW OUR CHILDREN
  %p
    Get to know our children better by visiting our website
    %a{:href => "http://www.challengedchildren.org"} www.challengedchildren.org!
    You can read each child's story complete with their hobbies, disabilities, daily challenges, needs, and goals for the future.

