.container
  %h1.page-header.text-center Event Details
  .row
    %h4 Time & Location:
    %p Please arrive by 9 am to sign in and begin hitting the bricks. The nearest Metro stations are Farragut West and Smithsonian. Additionally, there is an event map here: http://dchitthebricks.com/admin/index.
    %br
    %h4 Weather:
    %br
    %p Unless there is extreme weather Hit The Bricks: DC will go on RAIN OR SHINE.
    %br
    %h4 No On-site Registration:
    %p Due to the strict nature of our permit, we are not able to collect any donations on the Mall. If you have any friends who are expecting to register or donate the day of, please inform them they must register or donate through the website.
    %br
    %h4 Post-race social:
    %p We will head to Elephant & Castle (900 19th St. NW - Farragut West) for a post race social from 12-2 pm. We hope you will come celebrate the inaugural successful of Hit The Bricks: DC.
    %br
    %h4 Donations for Back on My Feet:
    %br
    %p We will be collecting gently used running shoes to donate to Back on My Feet, a national non-profit organization that combats homelessness through the power of running.
    %br
    %h4 Raffle:
    %p Each runner will receive a ticket for registering. For every $50 in donations, you will receive an additional entry. Prizes include:
    %p• $50 gift card to Floriana (2)
    %p• $25 gift card to Pacer's Running (2)
    %p• $20 gift card to Elevation Burger (5)
    %p• Free bowl from ShopHouse (2)
    %p• Runners grab bag from Nathan's sports ($80 value)
    %p• HTB T-shirts 
    %br
    %h4 T-shirts:
    %p Everyone who raises $100 in donations will receive a Hit The Bricks: DC T-shirt.
