.container
  %h1.page-header.text-center Location and Directions
  .row
    .col-md-6
      %h4 Location
      %p Check-in and registration will take place on the East end of Constitution Gardens, located near the corner of Constitution and 17th St just north of the WWII Memorial.
      %h4 Parking
      %p Street parking is available around the National Mall, though it is advised to Metro if possible.
      %h4 Metro
      %p The closest metro stations are Farragut West (Orange/Blue/Silver) and Smithsonian (Orange/Blue/Silver).
    .col-md-6
      = link_to image_tag("https://s3.amazonaws.com/htb-dc/htb-map.jpg", class: "img-responsive"), "https://s3.amazonaws.com/htb-dc/htb-map.jpg"
