.container
  %h1.page-header.text-center
    Our Mission & Vision
  .row
    .col-md-12
      %h2 OUR MISSION
      %p "Challenged Children Foundation Intl. is a non-profit organization based in Ghana, Africa that focuses on providing challenged children with parental support, socialization, physical therapy, and education."
      %p To achieve this mission, CCFI works to overcome the social and cultural stigmas surrounding disabled children. These stigmas arise from a traditional Ghanaian belief that sees disabled individuals as 'inhuman' or suffering from a ‘devil’s curse’. This belief has caused many parents to hide their disabled children from the world. As a result, many disabled children do not attend school, physical therapy, and are shunned from social activities. The CCFI works to not only encourage parents to care for their little ones, but also educates them and provides them with the resources to do so.
      %h2 OUR VISION
      %p
        LEARN MORE
        %br/
        Visit our website at
        %a{:href => "http://www.challengedchildren.org"} www.challengedchildren.org
        for more information!
      %p “To create a boundless community in Ghana where children diagnosed with any disability are able to achieve their utmost potential and their families no longer feel the need to hide them from society.
      .text-center
        %p= link_to("Make a donation", donations_path, class: "btn btn-primary btn-lg")

