.container
  %h1.page-header.text-center
    OUR TEAM
  .row
    .col-md-12
    %p{style: "text-align: center"} Our international team brings medical, financial, and business expertise to our foundation in West Africa
    %h2 NICOLE JOHNSEN, FOUNDER & EXECUTIVE DIRECTOR
    %div{:class => "row"}
      .col-md-2
        %div{:class => "nicole"}
      .col-md-6
        %p Nicole is the Founder and Executive Director of CCFI. After volunteering at Cape Coast Teaching Hospital for three weeks in Ghana, Nicole met the parents of several disabled children who were frustrated with their child’s situation, the social and cultural stigma associated with their child’s disability, and their inability to make a change. The passion of these parents and their disabled children that had been cast aside, inspired Nicole to create a website where their children’s stories could be told. Nicole spent countless hours interviewing parents, taking pictures of the children, recording each child’s story, and meeting with hospital officials in pursuit of creating this Foundation.
        %p Nicole is in constant communication with members of the organization in Ghana and coordinates, plans, and directs all company activity. She has utilized her 6 years of graphic design experience to create our website, campaign platform, and company logos from the ground up. Before founding CCFI, she was the sole founder and manager of the afterschool dance program “Let’s Dance”, that provided children in inner-city schools with a cost-free and easily assessable form of exercise. Nicole was also a co-founder and manager of another afterschool program in Birmingham, AL named “Avondale Creative Writing.” She not only developed these programs from scratch, but she taught, and directed each program for over three years. Nicole is now a Student Mental Health Ambassador for THRIVE at Wake Forest University, and has helped develop innovate mental health outreach programs for the WFU community. She is currently pursuing a Bachelors of Science in Biochemistry & Molecular Biology and minoring in Entrepreneurship & Social Enterprise at Wake Forest University.
    %h2 RICHARD MENSAH, PHYSICAL THERAPY COORDINATOR
    %div{:class => "row"}
      .col-md-2
        %div{:class => "richard"}
      .col-md-6
        %p Richard, a practicing physical therapist at Cape Coast Central Regional Hospital, is the Physical Therapy Coordinator for our children at CCFI. Richard is responsible for creating a positive and optimistic change in the way the parents of challenged children see physical therapy. Richard relays the importance of integrating physical therapy into each child&#x2019;s daily routine, encourages the parents to bring their children to the clinic for weekly visits (while continuing daily home exercises), and also assists in the clinical aspects of physical therapy.
        %p Richard studied at Physiotherapy and Othortic Training School where he earned his DPT (Doctor of Physical Therapy Degree), and has also supplemented his degree by completing an evidence based physiotherapy course that focuses on the chemistry, biology, and physics behind physical therapy.
    %h2 REACHEL ADJAOTTOR, COMMUNITY OUTREACH & PROJECT COORDINATOR
    %div{:class => "row"}
      .col-md-2
        %div{:class => "reachel"}
      .col-md-6
        %p Reachel is the parent of Cornelius (one of our children at CCFI) and has experienced the challenges of caring for a disabled child in Ghana first-hand. As the Community Outreach  Project Coordinator, Reachel focuses on coordinating trips to various communities throughout Ghana. These trips often include educational speeches which are meant to encourage parents of disabled children to bring their children out of hiding and help them get the best care possible. Educational speeches commonly stress the importance of: allowing their children to socialize with others, participating in daily physical therapy, and speaking to a dietician to ensure their child is receiving the proper nourishment. Reachel is also involved in recruiting new families with disabled children into the organization, overseeing and directing weekly meetings within the CCFI, and planning events.
        %p Reachel earned her BSN (Bachelor of Science in Nursing) and currently works for the MoH (Ministry of Health) in Ghana. Reachel is a part of the MoH's Ghana Health Service where she is involved in providing public health services, managing Ghana's healthcare industry, and aiding in maintaining Ghana's hospitals and medical education system.
    %h2 LINS BARWICK, FINANCIAL COORDINATOR
    %div{:class => "row"}
      .col-md-2
        %div{:class => "lins"}
      .col-md-6
        %p Lins, our Financial Coordinator at CCFI, brings years of financial planning, fundraising, and management expertise to our Foundation. Lins’ core focus in CCFI is on the management, budgeting, and delegation of our funds. Lins has years of financial experience associated with pediatric disability in Ghana after founding and managing the Angel Komenda Fund, a largely personal and very profitable fundraiser aimed at raising money for Angel Abena Komenda, a child who is now represented by CCFI. When managing the Angel Komenda Fund, Lins reviewed budgets associated with Angel's health care, regional disability education, and awareness campaigns. While Lins is formally known as the Financial Coordinator throughout CCFI, he is also able to offer unequivocal fundraising advice based on his experience of founding, managing, and starting the Angel Komenda Fund. He is currently pursuing a major in Psychology and a minor in Neuroscience at Wake Forest University.
    %h2 DR. IRENE VANDARPUYE, CHILD DEVELOPMENT REASEARCHER & DATA ANALYST
    %div{:class => "row"}
      .col-md-2
        %div{:class => "irene"}
      .col-md-6
        %p Dr. Vandarpuye, a Special Education specialist, is our primary research analyst who designs educational programs for our children, quantifies the results through data analytics, and then improves the programs based on her analysis. Dr. Vandarpuye also offers counseling to our parents with disabled children, and is focused on improving parental involvement in education.
        %p Dr. Vandarpuye earned her PhD at the University of Leeds where she studied Special Education and focused on parental perception, expectation, and involvement in inclusive education. Dr. Vanderpuye also holds a Master&#x2019;s degree in Special Education, as well as a Bachelor&#x2019;s degree in Educational Psychology.  Dr. Vandarpuye is not only our research analyst, but she is also a professor at the University of Cape Coast.
    %h2 BOARD OF DIRECTORS
    %p Nicole Johnsen, Reachel Adjaottor, Peter Adom, Faustina Amoh, Gabriel Adams, Patricia Abena Kissi, Charles Kofi Essuman Mensah
